<div class="actions">
  <p>Equipment I booked from another user.</p>
  <% bookings.each do |item| %>
    <%= link_to item, style: "text-decoration: none;" do %>
      <div class="card-product">
        <img src="<%= cl_image_path item.equipment_item.photo.key, crop: :fit %>" />
        <div class="card-product-infos">
          <h2><%= item.equipment_item.title %></h2>
          <p><strong>Booked from:</strong> <%= item.equipment_item.user.email %></p>
          <h3 class="price"><%= item.equipment_item.price %> € per day</h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
