<div class="actions">
  <p>My equipment which is currently booked.</p>
    <% rentals.each do |rental| %>
      <%= link_to rental.equipment_item, style: "text-decoration: none;" do %>
        <div class="card-product">
          <img src="<%= cl_image_path rental.equipment_item.photo.key, crop: :fit %>">
          <div class="card-product-infos">
            <h2><%= rental.equipment_item.title %></h2>
            <p><strong>Booked by:</strong> <%= rental.user.email %></p>
            <h3><%= rental.equipment_item.price %> € per day</h3>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
