<div class="item-container">

  <div>
    <%= cl_image_tag @equipment_item.photo.key, height: 300, width: 400, crop: :fit %>
  </div>

  <div>
    <h1><%= @equipment_item.title %></h1>
    <p>Price: <%= number_to_currency(@equipment_item.price) %></p>
    <p><i class="fas fa-map-pin"></i> <%= @equipment_item.location %></p>
    <p><i class="fas fa-user"></i> <%= @equipment_item.user.email %></p>
    <div class="border-top border-bottom border-3">
      <p class="text-with-line-breaks mt-3"><%= @equipment_item.description%></p>
    </div>
    <br>

    <% if @equipment_item.user == current_user %>
      <%= link_to "Delete", equipment_item_path(@equipment_item), class: "btn btn-ghost", method: :delete, data: { confirm: "Are you sure you want to delete this item?"} %>
    <% else %>
      <%= simple_form_for([@equipment_item, @booking]) do |f| %>
        <%= f.input :booking_date, as: :date, html5: true %>
        <%= f.button :submit, "Rent item", class: "btn btn-ghost" %>
      <% end %>
    <% end %>
  </div>

  <li class="icon-item">
    <div style="text-decoration: none;">
      <%= link_to :back do %>
        <i class="icon-link"><i class="fas fa-arrow-left" ></i></i>
      <% end %>
    </div>
  </li>
</div>
