<div class="item-container">

  <div>
    <%= cl_image_tag @equipment_item.photo.key, height: 300, width: 400, crop: :fit %>
  </div>

  <div>
    <h1>Category: <%= @equipment_item.category.name %></h1>
    <p class="text-with-line-breaks">Description: <%= @equipment_item.description%></p>
    <p>User: <%= @equipment_item.user.email %></p>

   <%= simple_form_for([@equipment_item, @booking]) do |f| %>
      <%= f.input :booking_date, as: :date, html5: true %>
      <%= f.button :submit, "Rent item", class: "btn btn-ghost" %>
  <% end %>


  </div>
</div>
