<div class="item-container">

  <div>
    <%= cl_image_tag @equipment_item.photo.key, height: 300, width: 400, crop: :fit %>
  </div>

  <div>
    <h1><%= @equipment_item.title %></h1>
    <p>Price: <%= number_to_currency(@equipment_item.price) %></p>
    <p>Location: <%= @equipment_item.location %></p>
    <p>User: <%= @equipment_item.user.email %></p>
    <div class="border-top border-bottom border-3">
      <p class="text-with-line-breaks mt-3"><%= @equipment_item.description%></p>
    </div>
    <br>
   <%= simple_form_for([@equipment_item, @booking]) do |f| %>
      <%= f.input :booking_date, as: :date, html5: true %>
      <%= f.button :submit, "Rent item", class: "btn btn-ghost" %>
  <% end %>


  </div>

  <li class="icon-item">
    <div style="text-decoration: none;"><%= link_to :back do %>
      <i class="icon-link"><i class="fas fa-arrow-left" ></i></i>
    <% end %></div>
  </li>
</div>
