<body>
  <%= render "shared/banner" %>
  <br><br><br>

  <a href="#home-cards">
    <div class="arrow">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>

  <div class="container mt-2 p-2">

    <h2 class="title">Check it out</h2>
    <div style="display: flex; justify-content: center;"><%= link_to "See all items", equipment_items_path, class: "btn btn-ghost"%></div>
    <div id="home-cards" class="category-cards mt-4 mb-5">
      <%= link_to equipment_items_path(category: "Skiing"), class: 'card-category-link' do %>
        <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url "skiing-category.jpg" %>)">
          Skiing
        </div>
      <% end %>

      <%= link_to equipment_items_path(category: "Snowboarding"), class: 'card-category-link' do %>
        <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url "snowboarding-category.jpg" %>)">
          Snowboarding
        </div>
      <% end %>

      <%= link_to equipment_items_path(category: "Accessories"), class: 'card-category-link' do %>
        <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url "accessories.jpg" %>)">
          Accessories
        </div>
      <% end %>
    </div>
  </div>

  <div class="container border-top border-bottom border-3">
    <h2 class="title">Here are some of the avalable items</h2>
  </div>
  <div class="container my-5 p-2">
    <%= render "shared/equipshow" %>
  </div>

</body>
